root = true

[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# Rules
csharp_prefer_braces = false
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# Formatting
dotnet_sort_system_directives_first = true
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
